version: '3.8'

services:
  backend:
    depends_on:
      - mysql
      - redis
    image: haechansomg/flyon:latest
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - flyon
    restart: always
    tty: true
    environment:
      SPRING_PROFILES_ACTIVE: dev

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - flyon
    restart: always
    tty: true

  mysql:
    image: mysql:latest
    container_name: mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: flyon
      TZ: Asia/Seoul
    restart: always
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - flyon

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - 27017:27017
    restart: always
    networks:
      - flyon
    volumes:
      - mongo_data:/data/db

volumes:
  mysql_data:
  mongo_data:

networks:
  flyon:

